@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

@import "./general.scss";

/* Blocks */
@import "blocks/more-backup.scss";
@import "blocks/grades.scss";

@import "blocks/more";

@import "blocks/journal-reports";

@import "blocks/certification.scss";
@import "blocks/settings.scss";
@import "blocks/members.scss";

@import "blocks/tooltip.scss";
@import "blocks/common-styles.scss";
@import "blocks/circle-checkbox.scss";
@import "blocks/lk-sertificates.scss";
@import "blocks/lk-reports.scss";

@import "./blocks/bank/bank.scss";
@import "./blocks/bank/bank-edit.scss";
@import "./blocks/bank/bank-modal.scss";
@import "./blocks/bank/bank-preview.scss";
@import "./blocks/bank/bank-import.scss";

@import "blocks/journal";
@import "blocks/main-lk";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/main";

html {
  font-family: "Segoe";
  color: $black;
  font-size: calc(100vw / 1920 * 10);
  height: 100%;
  color: $black;
  @include breakpoint($xxl-bp) {
    //font-size: calc(100vw / 1440 * 10);
  }
  @include breakpoint($sm-bp) {
    //font-size: 4.2px;
  }
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}

.hide {
  display: none;
}

.wrapper {
  padding-left: 8rem;
  padding-right: 8rem;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -1px;
  margin-top: -1px;
  z-index: -2;
}

.outer {
  padding-left: 19.7rem;
  padding-right: 19.7rem;
}

button,
input,
select {
  font-family: "Segoe";
}

a:focus {
  text-decoration: underline;
}

.red {
  color: $red;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .5s;

  img {
    opacity: 0;
    animation: showP 1s 0s forwards;
  }
}

@keyframes showP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.search-block {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-101%);
  transition: transform 0.3s;
  background: white;
  padding: 2rem 8rem;
  z-index: 5;

  form {
    display: flex;
    align-items: center;
  }

  input {
    width: -webkit-fill-available;
    margin-top: 0;
    margin-right: 2rem;
    outline: none;
  }

}

.search-block.show {
  transform: translateY(0);
  box-shadow: 0px 2px 7px rgb(0 0 0 / 20%);
}