.lk__inner--grades {
  padding-top: 3rem;

  .main-title {
    margin-bottom: 3rem;
  }

  .grades__subtitle {
    font-weight: 700;
    font-size: 2.4rem;

    margin-bottom: 3rem;
  }
}

.grades-aside {
  width: 100%;
  max-width: 38rem;
}

.grades-report {
  .alphabet-choice {
    margin-bottom: 5.5rem;
  }

  .grades-report__table-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-bottom: 2rem;

    .select {
      width: 30rem;
    }

    .grades-report__find {
      font-size: 1.4rem;
    }
  }

  .grades-report__content {
    width: 100%;
    max-width: 116rem;
  }

  .lk__table_row {
    padding-right: 2rem;
    gap: 0;

    & > div {
      &:nth-child(1) {
        width: 8%;
      }
      &:nth-child(2) {
        width: 16%;
      }
      &:nth-child(3) {
        width: 12%;
      }
      &:nth-child(4) {
        width: 16%;
      }
      &:nth-child(5) {
        width: 16%;

        text-align: center;
        justify-content: center;
      }
      &:nth-child(6) {
        width: 14%;
      }
      &:nth-child(7) {
        width: 18%;

        text-align: center;
        justify-content: center;
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;

      fill: #828282;
    }

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.grades-history {
  .lkset-item {
    gap: 10rem;
  }

  .lkset-item__title {
    width: 22rem;
  }
  .lkset-item--mult {
    .select {
      width: 47rem;
      margin-left: 0;
    }
  }

  .lkset-item--md {
    .select,
    input {
      width: 27rem;
    }
  }

  .lk-settings__btns {
    margin-top: 6rem;
  }
}

.grades-review {
  .grades-review__inner {
    width: 100%;
    max-width: 98.1rem;
  }

  .grades-review__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;

    .select {
      width: 30rem;
    }
  }

  .grades-review__user {
    display: flex;
    align-items: center;
    gap: 2rem;

    img {
      width: 4.8rem;
    }
  }
  .grades-review__user-name {
    font-weight: 700;
    font-size: 2.4rem;
    color: $red;
  }

  .grades-review__content {
    padding: 1.5rem 3rem;

    background: #ffffff;
    border: 0.5px solid #cccccc;
    border-radius: 1.5rem;
  }

  .lk-table .lk__table_inner {
    padding-bottom: 0;
  }
  .lk__table_row {
    & > div {
      &:nth-child(1) {
        width: 90%;
      }
      &:nth-child(2) {
        width: 10%;

        text-align: center;
        justify-content: center;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.grades-single {
  width: 100%;

  .grades-single__inner {
    width: 100%;
    max-width: 115.3rem;
  }
  .grades-single__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;

    .select {
      width: 30rem;
    }
  }

  .grades-single__view {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  .grades-single__view-title {
    font-size: 1.8rem;
  }
  .grades-single__view-btns {
    display: flex;

    border-radius: 1rem;
    overflow: hidden;

    span {
      display: block;

      padding: 1.1rem 7.3rem;

      font-size: 1.6rem;
      color: #4f4f4f;
      background: white;

      cursor: pointer;

      transition: all 0.1s linear;

      &:hover {
        background: lighten($red, 58%);
      }
    }

    input:checked ~ span {
      background: #c60b46;
      color: white;
    }
  }

  .lk__table_row {
    padding-right: 3rem;
    gap: 0;

    & > div {
      &:nth-child(1) {
        width: 4%;

        text-align: center;
        justify-content: center;

        margin-right: 4rem;
      }
      &:nth-child(2) {
        width: 18%;
      }
      &:nth-child(3) {
        width: 20%;

        text-align: center;
        justify-content: center;
      }
      &:nth-child(4) {
        width: 10%;
      }
      &:nth-child(5) {
        width: 20%;

        text-align: center;
        justify-content: center;
      }
      &:nth-child(6) {
        width: 17%;
      }
      &:nth-child(7) {
        width: 10%;
      }
    }

    a {
      color: $red;
      text-decoration: underline;
    }
  }
}

.grades-summary {
  width: 100%;

  .grades-summary__inner {
    width: 100%;
    max-width: 98rem;
  }

  .grades-summary__header {
    margin-bottom: 2rem;

    display: flex;
    justify-content: flex-end;

    .select {
      width: 30rem;
    }
  }

  .lk-table .lk__table_inner {
    padding-bottom: 2rem;
  }

  .lk__table_row {
    padding-right: 3rem;
    padding-bottom: 0;

    border-bottom: none;

    &.head {
      padding-bottom: 2rem;

      border-bottom: 1px solid #e0e0e0;
    }

    & > div {
      &:nth-child(1) {
        width: 85%;
      }
      &:nth-child(2) {
        width: 15%;

        text-align: center;
        justify-content: center;
      }
    }
  }
}

.grades-gradebook {
  width: 100%;

  .grades-gradebook__inner {
    width: 100%;
    max-width: 96.2rem;
  }

  .grades-gradebook__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;

    .grades__subtitle {
      font-weight: 700;

      margin-bottom: 0;
    }
  }
  .grades-gradebook__header-btns {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .lk-table .lk__table_inner {
    padding-bottom: 0;
  }

  .lk__table_row {
    gap: 0;

    padding-right: 3rem;
    padding-left: 3rem;

    &:not(.head) {
      border-bottom: none;
    }

    & > div {
      &:nth-child(1) {
        width: 60%;

        font-weight: 600;
      }
      &:nth-child(2) {
        width: 30%;

        justify-content: center;
        text-align: center;
      }
      &:nth-child(3) {
        width: 15%;
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;

      &:hover {
        fill: $red;
      }
    }
  }

  .lk__table_category {
    padding: 2rem 0;

    .lk__table_row {
      padding: 0 3rem;
    }

    .lk__table_row + .lk__table_row {
      margin-top: 2rem;
    }
  }

  .lk__table_category + .lk__table_category {
    padding-top: 3rem;

    border-top: 1px solid #e0e0e0;
  }

  .lk-settings__btns {
    justify-content: flex-end;
  }
}

.grades-gradebook_new {
  &.lk__main {
    padding-bottom: 0;
  }

  .grades__descr {
    font-size: 1.8rem;

    margin-bottom: 2rem;
  }

  .lkset-item--textarea {
    align-items: flex-start;
    .lkset-item__content {
      align-items: flex-start;
    }
    .lkset-item__tooltips,
    .lkset-item__title {
      margin-top: 1rem;
    }
  }

  .lkset-item--xl {
    input,
    .select,
    textarea {
      width: 64rem;
    }
  }
  .lkset-item--lg {
    input,
    .select {
      width: 33.5rem;
    }
  }
  .lkset-item--md {
    input,
    .select {
      width: 14.3rem;
    }
  }

  .lkset-item.lkset-item--btns {
    margin-top: 6rem;
  }

  .lk-settings__category + .lk-settings__category {
    margin-top: 6rem;
  }

  .lk-settings__category-title {
    font-size: 1.8rem;
    font-weight: 700;

    margin-bottom: 2rem;
  }

  .lkset-item_id-val {
    margin-top: 3rem;

    font-size: 1.8rem;

    h3 {
      font-weight: 700;

      margin-bottom: 1rem;
    }

    ul {
      display: grid;
      gap: 1rem;

      list-style: disc inside;

      margin-bottom: 1rem;
    }

    .btn-red {
      width: max-content;

      margin-top: 1rem;
    }
  }
}

.sett-grade-cert {
  .lkset-item__title {
    width: 58.5rem;
  }
}

.lkset-item--tips {
  font-size: 1.8rem;

  margin-top: 3rem;
}

.grades-scales {
  width: 100%;

  .grades-scales__inner {
    width: 100%;
    max-width: 120.5rem;
  }

  .lk-table .lk__table_inner {
    padding-bottom: 0;
  }

  .grades-scales__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;

    .grades__subtitle {
      margin-bottom: 0;
    }
  }

  .lk__table_row {
    gap: 3rem;
    padding-right: 3rem;

    &:not(.head) {
      border-bottom: none;
    }

    & > div {
      &:nth-child(1) {
        width: 76%;

        font-weight: 600;
      }
      &:nth-child(2) {
        width: 12%;
      }
      &:nth-child(3) {
        width: 12%;
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;

      &:hover {
        fill: $red;
      }
    }
  }
}

.grades-scales_new {
  width: 100%;
  max-width: 96.4rem;

  .lkset-item__title {
    width: 100%;
    max-width: 10rem;
  }

  .lkset-item--xxl {
    width: 100%;

    .lkset-item__content {
      width: 100%;

      .lkset-item__tooltips {
        width: 100%;
        max-width: 4rem;
      }
    }

    textarea,
    input,
    .select {
      width: 100%;
      max-width: 78.1rem;
    }
  }
}

.grades-letters {
  width: 100%;

  .grades-letters__inner {
    width: 100%;
    max-width: 54rem;
  }

  .lk-table .lk__table_inner {
    padding-bottom: 0;
  }

  .grades-letters__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;

    .grades__subtitle {
      margin-bottom: 0;
    }
  }

  .lk__table_row {
    gap: 3rem;
    padding-right: 3rem;

    &:not(.head) {
      border-bottom: none;
    }

    & > div {
      &:nth-child(1) {
        width: 40%;

        text-align: center;
        justify-content: center;
      }
      &:nth-child(2) {
        width: 40%;

        text-align: center;
        justify-content: center;
      }
      &:nth-child(3) {
        width: 20%;
      }
    }
  }
}

.grades-letters_edit {
  .lkset-item {
    .lkset-item__title {
      width: 18rem;
    }

    input {
      width: 14.3rem;
    }
  }

  .lkset-item.lkset-item--btns {
    margin-top: 6rem;
  }
}

.grades-import {
  width: 100%;
  max-width: 95.8rem;

  &.lk__main {
    padding-bottom: 0;
  }

  .grades-import__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select {
      width: 30rem;
    }
  }

  .lkset-item__title {
    width: 20rem;
  }

  .grades-import__selected {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.8rem;
    font-weight: 700;

    margin-bottom: 2rem;
  }

  .lkset-item--lg {
    .select {
      width: 33.5rem;
    }
  }
  .lkset-item--md {
    .select {
      width: 14.3rem;
    }
  }

  .lkset-item--btns {
    margin-top: 6rem;
  }

  .lkset-item__checkboxes {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .lkset-item--textarea {
    align-items: flex-start;

    .lkset-item__content {
      align-items: flex-start;
    }
    .lkset-item__tooltips,
    .lkset-item__title {
      margin-top: 1rem;
    }
    textarea {
      width: 64.1rem;
    }
  }

  .attachment-wrapper .attachment-area {
    width: 64.1rem;
  }

  .lkset-item--xl {
    input,
    textarea,
    .select {
      width: 64.1rem;
    }
  }
}

.grades-export {
  .grades-export__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .select {
      width: 30rem;
    }
  }

  .checkbox__text {
    font-size: 1.8rem;
  }

  .lkset-item__checkboxes {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .lkset-item__title {
    width: 40rem;
  }
}
