.header {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;

    .header-wrap {
        &:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 46.8%;
        }
        &:nth-child(2) {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
                &:hover {
                    path {
                        fill: $red;
                    }
                }
            
                svg {
                    margin-right: 2rem;
                    width: 2.5rem;   
                    path {
                        transition: fill .3s;
                    }
                }
            }
        }
    }
}

.header__item {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0em;
    text-align: left;
    color: $black;    
    text-decoration: none;
    margin-left: 7.3rem;
    transition: color .3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:nth-child(1) {
        margin-left: 0;
    }

    &:hover {
        color: $red;
    }
}

.header__item.trigger {

    .selector__title {
        display: flex;
        align-items: center;
    }

    .selector__title::after {
        content: "";
        margin-left: 1.1rem;
        margin-top: -.2rem;
        display: block;
        width: .5rem;
        height: .5rem;
        border-right: 1px solid $black;
        border-bottom: 1px solid $black;
        transform: rotate(45deg);
        transition: .3s;
    }
    .selector__title:hover {
        &::after {
            border-right: 1px solid $red;
            border-bottom: 1px solid $red;
        }    
    }
}

.active.trigger {
    .selector__title::after {
        transform: rotate(-135deg);
        margin-top: .6rem;
    }
}

.header__item.active {
    color: $red;

    &::after {
        border-right: 1px solid $red;
        border-bottom: 1px solid $red;
    }

    svg {
        path {
            fill: $red;
        }
    }
}

.header__logo {

    img {
        width: 15rem;
    }
}

.header__sign-in,
.header__sign-up {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0em;
    text-align: left;
    color: $black;    
    text-decoration: none;
    padding: 0 2rem;
    border-left: 1px solid #D6D6D6;
}

.header__sign-in {
    padding-right: 0;
}

.header__sign-up {
    padding-left: 2rem;
}

.header__search {

    &:hover {
        path {
            fill: $red;
        }
    }

    svg {
        margin-right: 2rem;
        width: 2.4rem;   
        display: block;
        path {
            transition: fill .3s;
        }
    }
}

.header__nav {
    display: flex;
    align-items: center;
}

.header.enter {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;

    .header__item {
        display: flex;
        align-items: center;
        svg {
            width: 2rem;
            margin-right: 1.5rem;
            path {
                transition: fill .3s;
            }
        }

        &:hover {
            path {
                fill: $red;
            }
        }
    }

    .header-wrap {
        &:nth-child(2) {

            a {
                svg {
                    margin-right: 3rem;
                }
            }
        }
    }
}

.header__select {
    padding-left: 3rem;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 7rem;
        top: -1.1rem;
        left: 0;
        display: block;
        background-color: #E0E0E0;
    }
}

.selector {
    position: relative;
}

.header__select_item  {
    cursor: pointer;
}

.header__select_title {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;

    &::after {
        content: "";
        display: block;
        width: .6rem;
        height: .6rem;
        margin-top: -.2rem;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        transform: rotate(45deg);
    }

    span {
        border-radius: 100%;
        background-color: #A8B6FF;
        margin-right: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
    }
}

.header__select_block {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    position: absolute;
    right: 0;
    top: calc(100% + 1.1rem);
    background: white;
    border: 0.5px solid #E0E0E0;
    border-radius: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: column;

    a {
        color: #0E0D0D;
        text-decoration: unset;
        min-width: max-content;
        display: block;
        padding: 1.3rem 6rem 1.3rem 2rem;
        border-bottom: 0.5px solid #E0E0E0;
        transition: color .3s;

        &:hover {
            color: $red;
        }

        &:nth-child(1) {
            margin-top: 1rem;
        }
        &:nth-last-child(1) {
            margin-bottom: 1rem;
            border-bottom: unset;
        }
    }
}

.header-bordered {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    box-shadow: 0px 2px 4px 0px #5C5C5C33;

    .header__sign-up {
        padding-right: 0;
        color: $red;

        &:hover {
            text-decoration: underline;
        }
    }

    .header__sign-in {
        color: $red;
        padding-right: 2rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.header__item.trigger {
    position: relative;
    z-index: 2;
    cursor: pointer;

    .selector__block {
        position: absolute;
        bottom: -1rem;
        transform: translateY(100%);
        background: white;
        box-shadow: 0px 2px 7px rgb(0 0 0 / 20%);
        border-radius: 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s;
    }

    .selector__item {
        padding: .6rem 1.5rem;
        width: max-content;
        display: block;
        max-width: 30rem;
        color: $black;
        text-decoration: unset;
        transition: color .3s;

        &:hover {
            color: $red;
        }
        &:nth-child(1) {
            padding-top: 1.6rem;
        }
        &:nth-last-child(2) {
            padding-bottom: 1.6rem;
        }
        &:nth-last-child(1) {
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            border-top: 1px solid #D6D6D6;
        }
    }
}