main {
  padding-bottom: 20rem;
  flex-grow: 1;
  z-index: 1;
}

main.enter {
  background-color: #F3F2F0;
  padding-bottom: 6rem;
}

.intro {
  margin-top: 5rem;

  .text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: left;
  }

  .btn {
    margin-top: 3rem;
  }
}

.intro__aside {
  max-width: 32.1%;
}

.intro__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: .4s;
  transform: translateY(-50%);
  opacity: 0;
}

.ready {
    .intro__top,
    .intro__img {
        transform: translate(0);
        opacity: 1;
    }
}

.intro__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.btn {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  text-transform: uppercase;
  color: $black;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.intro__img {
  margin-top: 6rem;
  transition: .4s;
  transform: translateY(50%);
  opacity: 0;

  img {
    width: 100%;
    height: 77rem;
    border-radius: 4rem;
    overflow: hidden;
  }
}

.about {
  margin-top: 16rem;
  padding-bottom: 31.5rem;
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about__wrap {
  margin-left: 18rem;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
  transform: translateY(-30%);
  opacity: 0;
  transition: .4s;
}

.active {
    .about__wrap,
    .about__img {
        transform: translateY(0);
        opacity: 1;
    }
}

.section-title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.325;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
}

.about__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 85rem;
  transform: translateX(30%);
  opacity: 0;
  transition: .4s;

  img {
    width: 100%;
    height: auto;
  }
}

.title-max {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.steps.wrapper {
  padding-left: 24rem;

  .title-max {
    padding-left: 14rem;
  }
}

.steps__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 9.5rem;
}

.step {
  display: grid;
  width: calc(100% + 8rem);

  &:hover {
    .step__bg {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    .subtitle,
    .text {
      color: white;
    }
  }
}

.step__bg,
.step__content {
  grid-column: 1/1;
  grid-row: 1/1;
}

.step__content {
  padding-left: 14rem;
  z-index: 2;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;

  .text {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
    text-align: left;
    max-width: 55rem;
    margin-top: 2.2rem;
    transition: color .3s;
  }
}

.step__bg {
  background: $red;
  opacity: 0;
  transition: opacity .3s;
  visibility: hidden;
  pointer-events: none;
  position: relative;
  z-index: 1;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    position: absolute;
    bottom: 0;
    right: 26rem;
    width: 25rem;
  }
}

.subtitle {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
  transition: color .3s;
}

.step__num {
  font-size: 27rem;
  font-weight: 900;
  line-height: 0;
  position: absolute;
  bottom: 59%;
  right: 66rem;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.columns {
  margin-top: 17rem;
  margin-right: 15.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.categories {
  .section-title {
    margin-top: 3.4rem;
    position: sticky;
    top: 1rem;
  }
}

.columns__aside {
  max-width: 80rem;
}

.categories__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.categories__block {
  width: 38rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;

  &:nth-child(1) {
    margin-top: 0;
  }

  &:nth-child(2) {
    margin-top: 0;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.categories__name {
  display: block;
  max-width: max-content;
  padding: 0.2rem 1rem;
  border: 1px solid $black;
  border-radius: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0em;
  text-align: left;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
  &:hover {
    border: 1px solid $red;
  }
}

.categories__content {
  margin-top: 1.3rem;
  text-decoration: none;
  color: $black;
  transition: .3s;
  border-radius: 2rem;

  img {
    width: 100%;
    height: 21.5rem;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
  }

  &:hover {
    box-shadow: 1px 1px 13px #00000045;
  }
}

.categories__text {
  display: flex;
  align-items: flex-start;
  padding: 1.5rem 2.5rem;
  border-radius: 0 0 2rem 2rem;
  background: #F3F2F0;
  justify-content: space-between;
}

.categories__title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.31;
  letter-spacing: 0em;
  text-align: left;
  min-width: max-content;
  display: block;
  max-width: 20%;
}

.categories__descr {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  max-width: 60%;
}

.show-more {
  margin-top: 6rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0em;
  text-align: left;
  color: $black;
  text-transform: uppercase;
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.solutions__title {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.34;
  letter-spacing: 0em;
  text-align: left;
  color: $black;
}

.solutions__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 3rem;
  padding-right: 16rem;
}

.columns.solutions-section {
  margin-top: 19.3rem;

  .columns__aside {
    margin-top: 2rem;
  }

  .section-title {
    position: sticky;
    top: 1rem;
  }
}

.solutions__img {
  border: 1.2rem solid #AD989A;
  border-radius: 3rem;
  overflow: hidden;
  width: 81.2rem;
  height: 41.8rem;
  margin-top: 5.2rem;
  margin-left: -1.2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.solutions__block {
  margin-bottom: 9rem;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.rates.wrapper {
    margin-top: 19rem;
    padding-right: 0;
    width: calc(100% - 15.5rem);
    overflow: hidden;
}

.rates__col {
  max-width: 80rem;
}

.rate__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7.3rem;
}

.rate__block {
  width: 38rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;

  &:nth-child(1) {
    margin-top: 0;
  }

  &:nth-child(2) {
    margin-top: 0;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  .categories__text {
    align-items: stretch;
  }
}

.aside__info {
  max-width: 38%;
}

.aside__info_title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  padding-bottom: 2rem;
  border-bottom: 1px solid $black;
}

.aside__info_text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 2rem;
}

.aside__info_block {
  margin-bottom: 4.3rem;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}


.aside__info_block {
    transform: translateX(40%);
    opacity: 0;
    transition-duration: .4s;
    &:nth-child(1) {
      transition-delay: 0s;
    }
    &:nth-child(2) {
      transition-delay: .3s;
    }
    &:nth-child(3) {
      transition-delay: .6s;
    }
    &:nth-child(4) {
      transition-delay: .9s;
    }
    &:nth-child(5) {
      transition-delay: 1.2s;
    }
    &:nth-child(6) {
      transition-delay: 1.5s;
    }
    &:nth-child(7) {
      transition-delay: 1.8s;
    }
    &:nth-child(8) {
      transition-delay: 2.1s;
    }
  }
  
  .active {
    .aside__info_block {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  

.categories__col {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  flex-grow: 1;

  .categories__title {
    font-size: 1.5rem;
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
}

.categories__list {
  max-width: 58%;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 1.1rem;

  li {
        list-style: disc;
        margin-bottom: .2rem;

        &:nth-last-child(1) {
        margin-bottom: 0;
        }
    }
}

.intro-active {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5.8rem;
    padding-bottom: 18.4rem;
}

.intro__circles {
    display: grid;

}

.intro__circles_main {
    grid-column: 1/1;
    grid-row: 1/1;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28rem;
    height: 28rem;
    border-radius: 100%;
    border: 1px solid $red;
    align-self: center;
    justify-self: flex-end;
}

.intro__circles_circle {
    grid-column: 1/1;
    grid-row: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 35rem;
    border-radius: 100%;
    border: 1px solid $red;
    align-self: center;
    justify-self: flex-end;
    animation: circle1 3s infinite ease-in-out;

    &.circle2 {
        width: 42rem;
        height: 42rem;  
        animation: circle2 3s infinite ease-in-out;    
    }
    
    &.circle3 {
        width: 49rem;
        height: 49rem;  
        animation: circle3 3s infinite ease-in-out;    
    }

    &.circle4 {
        width: 56rem;
        height: 56rem; 
        animation: circle4 3s infinite ease-in-out;        
    }

    &.circle5 {
        width: 63rem;
        height: 63rem;  
        animation: circle5 3s infinite ease-in-out;    
    }
}

@keyframes circle1 {
    0%{
        opacity: 0;
    }
    10% {
        opacity: .5;
    }
    90% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes circle2 {
    0%{
        opacity: 0;
    }
    20% {
        opacity: .4;
    }
    80% {
        opacity: .4;
    }
    100% {
        opacity: 0;
    }
}

@keyframes circle3 {
    0%{
        opacity: 0;
    }
    30% {
        opacity: .3;
    }
    70% {
        opacity: .3;
    }
    100% {
        opacity: 0;
    }
}

@keyframes circle4 {
    0%{
        opacity: 0;
    }
    38% {
        opacity: .2;
    }
    68% {
        opacity: .2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes circle5 {
    0%{
        opacity: 0;
    }
    45% {
        opacity: .1;
    }
    65% {
        opacity: .1;
    }
    100% {
        opacity: 0;
    }
}

.intro__changeable {
    padding-top: 6.2rem;
}

.intro__changeable_text {
    font-size: 2rem;
    margin-top: 2.4rem;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
}

.intro__changeable_block {

    .intro__changeable_text {
        color: #5C5C5C;
        font-weight: 400;
    }
}

.intro__changeable_num {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
    opacity: .4;
}

.intro__changeable_title {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
}

.intro__changeable_blocks {
    margin-top: 16.7rem;
    display: grid;
    overflow: hidden;
}

.intro__changeable_block {
    grid-row: 1/1;
    grid-column: 1/1;

}

.intro__changeable_block {
    opacity: 0;
}

.intro__changeable_blocks[data-num="1"] {
    .intro__changeable_block {
        opacity: 1;
    }
}

.intro__changeable_blocks[data-num="2"] {
    .intro__changeable_block {
        grid-row: 1/1;
        grid-column: 1/1;
        opacity: 0;
        animation-duration: 6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: changeBlock2;
        &:nth-child(2) {
            animation-delay: 3s;
        }
    }
}


@keyframes changeBlock2 {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    1% {
        opacity: 1;
    }
    3% {
        opacity: 1;
        transform: translateY(0%);
    }
    46% {
        opacity: 1;
        transform: translateY(0);
    }
    49% {
        opacity: 1;
        transform: translateY(-80%);
    }
    50% {
        opacity: 0;
        transform: translateY(-80%);
    }
    100% {
        opacity: 0;
        transform: translateY(-80%);
    }
}

.intro__changeable_blocks[data-num="3"] {
    .intro__changeable_block {
        grid-row: 1/1;
        grid-column: 1/1;
        opacity: 0;
        animation-duration: 9s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: changeBlock3;
        &:nth-child(2) {
            animation-delay: 3s;
        }
        &:nth-child(3) {
            animation-delay: 6s;
        }
    }
}


@keyframes changeBlock3 {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    .3% {
        opacity: 1;
    }
    4% {
        opacity: 1;
        transform: translateY(0%);
    }
    30% {
        opacity: 1;
        transform: translateY(0);
    }
    33% {
        opacity: 1;
        transform: translateY(-80%);
    }
    33.3% {
        opacity: 0;
        transform: translateY(-80%);
    }
    100% {
        opacity: 0;
        transform: translateY(-80%);
    }
}

.intro__changeable_blocks[data-num="4"] {
    .intro__changeable_block {
        grid-row: 1/1;
        grid-column: 1/1;
        opacity: 0;
        animation-duration: 12s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: changeBlock4;
        &:nth-child(2) {
            animation-delay: 3s;
        }
        &:nth-child(3) {
            animation-delay: 6s;
        }
        &:nth-child(4) {
            animation-delay: 9s;
        }
    }
}


@keyframes changeBlock4 {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    1% {
        opacity: 1;
    }
    3% {
        opacity: 1;
        transform: translateY(0%);
    }
    21% {
        opacity: 1;
        transform: translateY(0);
    }
    24% {
        opacity: 1;
        transform: translateY(-80%);
    }
    25% {
        opacity: 0;
        transform: translateY(-80%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.intro__changeable_blocks[data-num="5"] {
    .intro__changeable_block {
        grid-row: 1/1;
        grid-column: 1/1;
        opacity: 0;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: changeBlock5;
        &:nth-child(2) {
            animation-delay: 3s;
        }
        &:nth-child(3) {
            animation-delay: 6s;
        }
        &:nth-child(4) {
            animation-delay: 9s;
        }
        &:nth-child(5) {
            animation-delay: 12s;
        }
    }
}


@keyframes changeBlock5 {
    0% {
        opacity: 0;
        transform: translateY(60%);
    }
    1% {
        opacity: 1;
    }
    2.5% {
        opacity: 1;
        transform: translateY(0%);
    }
    17% {
        opacity: 1;
        transform: translateY(0);
    }
    19% {
        opacity: 1;
        transform: translateY(-80%);
    }
    20% {
        opacity: 0;
        transform: translateY(-80%);
    }
    100% {
        opacity: 0;
        transform: translateY(-80%);
    }
}

.intro__changeable_blocks[data-num="6"] {
    .intro__changeable_block {
        grid-row: 1/1;
        grid-column: 1/1;
        opacity: 0;
        animation-duration: 18s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: changeBlock6;
        &:nth-child(2) {
            animation-delay: 3s;
        }
        &:nth-child(3) {
            animation-delay: 6s;
        }
        &:nth-child(4) {
            animation-delay: 9s;
        }
        &:nth-child(5) {
            animation-delay: 12s;
        }
        &:nth-child(6) {
            animation-delay: 15s;
        }
    }
}


@keyframes changeBlock6 {
    0% {
        opacity: 0;
        transform: translateY(60%);
    }
    1% {
        opacity: 1;
    }
    2% {
        opacity: 1;
        transform: translateY(0%);
    }
    15% {
        opacity: 1;
        transform: translateY(0);
    }
    16% {
        opacity: 1;
        transform: translateY(-80%);
    }
    16.6% {
        opacity: 0;
        transform: translateY(-80%);
    }
    100% {
        opacity: 0;
        transform: translateY(-80%);
    }
}

.about.main2 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    .about__img {
        position: relative;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
        width: 78.3rem;
        min-width: 78.3rem;
        transform: translateX(-50%);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .outer {
        border-top: 2px solid #D6D6D6;
        border-bottom: 2px solid #D6D6D6;
        padding-top: 4rem;
        padding-bottom: 4rem;
        color: #5C5C5C;
    }
}

.active.about.main2 {
    .about__img {
        transform: translateX(0);
    }
}

.about__name {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
}

.about__title {
    margin-top: 8rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
}

.about__text {
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
}

.about__links {
    margin-top: 13.7rem;
    display: flex;
    justify-content: space-between;

    a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 2px solid #D6D6D6;
        width: 20rem;
        padding-top: 4rem;
        text-decoration: none;
        color: $red;
        opacity: 0;
        transform: translateY(100%);
        transition-duration: .4s;

        &:nth-child(1) {
            transition-delay: 0s;
        }

        &:nth-child(2) {
            transition-delay: .3s;
        }

        &:nth-child(3) {
            transition-delay: .6s;
        }

        &:hover {
            .about__links_text {
                text-decoration: underline;
            }
        }
    }
}

.active {
    .about__links a {
        transform: translateY(0);
        opacity: 1;
    }
}

.about__links_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: $red;
    position: relative;
    margin-bottom: 2rem;

    &::before {
        content: "";
        width: 1.2rem;
        height: 2px;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        display: block;
        position: absolute;
        background: white;
    }
    &::after {
        content: "";
        height: 1.2rem;
        width: 2px;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        display: block;
        position: absolute;
        background: white;
    }
}

.about__links_text {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
}

.solutions2 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 20rem;

    .solutions__img {
        border: unset;
        margin-top: 6rem;
        margin-left: 0;
        width: 74.4rem;
        height: 36rem;
        border-radius: 1.6rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .solutions__side {
        max-width: 90rem;
        overflow: hidden;
    }

    .solutions__title {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0em;
        text-align: left;
        color: #5C5C5C;
    }

    .title-lined__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .solutions__text {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.35;
        letter-spacing: 0em;
        text-align: left;
        color: #5C5C5C;
        margin-top: 6rem;
    }
}

.title-lined {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
    position: relative;
        
    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 74rem;
        background: $red;
        bottom: -3rem;
        left: 0;
        display: block;
    }
}

.solutions__side_block {
    margin-bottom: 12rem;
    transform: translateX(50%);
    opacity: 0;
    transition: .4s;
}

.active.solutions__side_block {
    transform: translateX(0);
    opacity: 1;
}

.spheres {
    margin-top: 23rem;
    width: 100%;
    overflow: hidden;
}

.spheres__inner {
    background: $red;
    padding-top: 20rem;
    padding-bottom: 24.6rem;
    padding-left: 19.7rem;
    padding-right: 19.7rem;
}

.spheres__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    p {
        max-width: calc(50% - 2rem);
    }

    .text-normal {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.35;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }
}

.spheres__title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.spheres__slider {
    margin: -13rem 4rem 0;
    position: relative;

    .swiper-wrapper {
        margin-bottom: 8rem;
    }
}

.swiper-container {
    .swiper-pagination {
        position: relative;
        bottom: unset;
        left: unset;
        right: unset;
        top: unset;
        height: 2px;
        background: #D6D6D6;

        .swiper-pagination-progressbar-fill {
            background: $red;
        }
    }
}

.swiper-controls {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    .swiper-button-next,
    .swiper-button-prev {
        position: relative;
        transform: unset;
        margin: 0;
        top: unset;
        left: unset;
        right: unset;
        height: auto;
        width: auto;
    }

    .swiper-button-prev {
        margin-right: 2rem;
    }

    .swiper-button-next:after {
        content: "\27F6";
        color: #5C5C5C;
        font-size: 4rem;
        line-height: 2rem;
    }

    .swiper-button-prev:after {
        content: "\27F5";
        color: #5C5C5C;
        font-size: 4rem;
        line-height: 2rem;
    }

    .swiper__all {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }

    .swiper__view-all {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.35;
        letter-spacing: 0em;
        text-align: left;
        color: $red;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.slider__pag {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
    color: #5C5C5C;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}


.spheres__card {
    background-image: url("../images/main/card-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.6rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 2rem;
}

.spheres__card_text {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
}

.spheres__card_footnote{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
    color: #5C5C5C;
}

.spheres__card_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: $red;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    transition: background .3s;

    &:hover {
        background: #5C5C5C;
    }

    &::before {
        content: "";
        width: 1.2rem;
        height: 2px;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        display: block;
        position: absolute;
        background: white;
    }
    &::after {
        content: "";
        height: 1.2rem;
        width: 2px;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        display: block;
        position: absolute;
        background: white;
    }
}

.nums-block {
    padding: 20rem 19.7rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20rem;
}

.nums-block__title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.nums-block__count {
    margin-top: 8rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.rising-num > span {
    font-size: 7.8rem;
    font-weight: 300;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    min-width: 23rem;
    display: flex;
}

.rising-num__text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1rem;
    color: white;
}

.rising-num{
    min-width: 10rem;
}

.quality {
    margin-top: 20rem;

    .swiper-wrapper {
        margin-bottom: 8rem;
    }
}

.quality__slider {
    width: 100%;
    overflow: hidden;
    margin-top: 8rem;
}

.quality__title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: #5C5C5C;
}

.quality__el {
    display: flex;
    flex-direction: column;
    background: #F2F3F7;
    border-radius: 1.6rem;
    padding: 4rem;
    padding-left: 8rem;
    text-decoration: unset;
    color: #5C5C5C;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    transition: background .3s;
    cursor: pointer;

    &:hover {
        background: #c60b4626;
    }

    &::before {
        content: "";
        width: 2px;
        height: calc(100% - 8rem);
        left: 4rem;
        top: 4rem;
        display: block;
        position: absolute;
        background: $red;
    }
}

.quality__block {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 3rem;
    .quality__el {
        flex-grow: 1;
    }
}

.quality__block.big {
    .quality__el {
        height: 100%;
        .quality__el_text {
            text-align: left;
            -webkit-line-clamp: unset;
            overflow: unset;
        }
    }
}

.quality__el_name {
    margin-bottom: 1em;
    cursor: pointer;
}

.quality__el_author {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
    flex-grow: 1;
    display: flex;
    cursor: pointer;
    align-items: flex-end;
}

.quality__el_text {
    text-align: left;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

.img-fixed {
    display: block;
    width: var(--w);
    height: var(--h);
    position: fixed;
    z-index: 0;
    object-fit: cover;
}