.lk__inner.competencies {
    margin-top: 6rem;

    .lk__main {
        margin-left: 3rem;
        margin-right: 3rem;
        width: 100%;
    }

    .lk__main_wrapper {
        padding-right: 0;
    }

    .btn-red {
        margin-top: 2rem;
        max-width: max-content;
    }

    .select {
        width: 45rem;
    }
}

.competencies__filter {
    margin-top: 4rem;
}

.lk__inner {
    .text-normal {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.35;
        letter-spacing: 0em;
        text-align: left;
        color: $black;
        margin-top: 2rem;
    }
}

.competencies__filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.choosen-filter {
    background: #BDBDBD;
    border-radius: .7rem;
    font-size: 1.6rem;
    padding: 1.1rem 1.5rem;
    font-weight: 400;
    line-height: 1.125;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
}

.choosen-filter__close {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    margin-right: 1rem;

    &::before {
        content: "";
        width: 1.5px;
        height: 100%;
        background: black;
        position: absolute;
        left: 50%;
        top: 12%;
        transform: rotate(45deg);
    }

    &::after {
        content: "";
        width: 1.5px;
        height: 100%;
        background: black;
        position: absolute;
        left: 50%;
        top: 0;
        top: 12%;
        transform: rotate(-45deg);
    }
}

.lk__subtitle_wrap {
    display: flex;
    align-items: center;
}

.filter__row {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;

    &:nth-child(1) {
        margin-top: 3rem;
    }

    .select.bank-head-select {
        width: 24.6rem;
    }

    .text-normal {
        min-width: 56rem;
        width: 56rem;
        display: block;
        margin-right: 6rem;
        margin-top: 0;
    }
}

.lk__main_breadcrumbs {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0em;
    text-align: left;
    color: $black;
    display: flex;
    align-items: center;

    li {
        display: flex;
        align-items: center;

        &:nth-last-child(1) {
            &::after {
                content: none;
            }
        }

        &::after {
            content: "";
            width: .55rem;
            height: .55rem;
            display: block;
            border-top: 2px solid black;
            border-right: 2px solid black;
            transform: rotate(45deg);
            margin-left: .6rem;
            margin-right: 1rem;
            margin-top: .3rem;
        }
    }

    a {
        color: $black;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    
    .active {
        color: $red;

        a {
            color: $red;
        }
    }
}

.lk__inner.more {

    .lk__main {
        flex-grow: 1;
        padding-right: 10rem;
    }

    .lk__main_wrapper {
        padding-right: 0;
    }

    .lk__main_breadcrumbs {
        margin-bottom: 3rem;
    }

    .text-normal {
        margin-top: 0;
    }

    .table__common {
        margin-top: 2rem;
    }

    .lk__certification-choose {
        max-width: 109.4rem;
    }

    .table__common_row {
        padding-left: 5rem;

        .table__common_cell {
            &:nth-child(1) {
                width: 5.2%;
            }
            &:nth-child(2) {
                width: 44%;
            }
            &:nth-child(3) {
                width: 50.8%;
            }
        }
    }

}

.table__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.lk__certification-choose_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.search__field {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.checkbox__wrapper {
    columns: 2;
    padding-top: 3rem;

    label {
        justify-content: flex-start;
        margin-bottom: 1.5rem;
    }
}

.btns-end__wrap  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding-top: 1.5rem;
}

.scheme-settings {
    .checkbox__wrapper {
        max-width: 37rem;
        margin-bottom: 1.5rem;
    }

    .checkbox {
        justify-content: flex-start;
    }
}

.check-group {
    margin-top: 2rem;
}

.check-disabled {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .circle-checkbox + label {
        font-weight: 400;
    }

    .circle-checkbox + label::before {
        margin-right: 1rem;
    }
}