@import "../../vars";

.bank {
  display: flex;
  align-items: flex-start;
  gap: 4rem;

  &-wrapper {
    background-color: #F3F2F0;
  }

  &-inner {
    flex: 1;
    padding-right: 10.2rem;
  }

  &-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    &-box {
      display: flex;
      align-items: center;
      gap: 3rem;
    }

    &-btn {
      margin-left: auto;
    }
  }

  &-info {
    background-color: #fff;
    border: 0.05rem solid #CCCCCC;
    border-radius: 1.5rem;

    &-item {
      &:last-child {
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;

        .bank-item-description {
          border-bottom-left-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem;
        }
      }

      &._active {
        .bank-info-item-info-btn {
          svg {
            transform: rotate(180deg);
          }
        }

        .bank-item-description {
          opacity: 1;
          padding: 2rem 3rem;
          pointer-events: all;
        }
      }

      &-inner {
        border-top: 0.05rem solid rgba(224, 224, 224, 1);
        display: flex;
        align-items: center;
        column-gap: 4rem;
        padding: 2rem 4rem 2rem 3rem;
        height: 9.4rem;
        align-items: center;
      }

      &-checkbox {
        &__icon {
          background-color: #CCCCCC;

          &::after {
            content: "";
            flex: none;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            background-color: #A7333E;
            opacity: 0;
          }
        }

        &._active & {
          &__icon {
            &::after {
              opacity: 1;
            }
          }
        }
      }

      &__btn {
        padding: 0;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 0.92rem;
        color: rgba(198, 11, 70, 1);
        font-size: 1.6rem;
        line-height: 1.8rem;

        svg {
          width: 0.74rem;
          height: 0.44rem;
          object-fit: contain;
          object-position: center center;
          stroke: rgba(198, 11, 70, 1);
          transition: .3s;
        }
      }

      &-col {
        &__number {
          width: 4.3rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 1.6rem;
          line-height: 1.8rem;
          margin-right: 0.4rem;
        }

        &__name {
          width: 28.5rem;
          font-size: 1.6rem;
          line-height: 1.8rem;
        }

        &__type {
          font-size: 1.4rem;
          line-height: 1.8rem;
          display: flex;
          align-items: flex-start;
          gap: 1rem;
          max-width: 14rem;
          margin-right: 2rem;

          svg {
            margin-top: 0.6rem;
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            object-position: center center;
          }
        }

        &__action {
          margin-right: 2rem;
        }

        &__edit {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          font-size: 1.4rem;
          line-height: 1.8rem;
        }

        &__info {
          margin-right: auto;
        }
      }
    }

    &-head {
      padding: 1.8rem 4rem 1.8rem 5.9rem;
      display: flex;
      align-items: center;


      &-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: $f-sb;

        &__number {
          width: 4.3rem;
          margin-right: 1.7rem;
        }

        &__name {
          width: 28.5rem;
          margin-right: 4rem;
        }

        &__type {
          width: 14rem;
          margin-right: 6rem;
        }

        &__action {
          width: 13rem;
          margin-right: 6rem;
        }

        &__create {
          width: 15.9rem;
          margin-right: 4rem;
        }

        &__edit {
          width: 15.9rem;
        }

        &__info {
          width: 11rem;
          margin-left: auto;
        }
      }

      &__btn {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        border: none;
        background-color: transparent;

        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center center;
          fill: #828282;
          transition: .3s;
        }

        &:hover {
          svg {
            fill: #000;
          }
        }
      }
    }
  }

  &-item {

    &-description {
      padding: 0rem 3rem;
      background-color: #F3F2F0;
      display: flex;
      align-items: flex-start;
      gap: 6rem;
      opacity: 0;
      pointer-events: none;
      transition: .3s;

      &-select {
        width: 12.9rem;

        &__btn {
          width: 100%;
        }
      }

      &-box {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &:nth-child(1) {
          width: 15.9rem;
        }

        &:nth-child(3) {
          max-width: 12rem;
        }

        &:nth-child(5) {
          max-width: 14rem;
        }

        &:nth-child(7) {
          max-width: 14rem;
        }
      }

      &__head {
        height: 3.6rem;
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        width: min-content;
      }

      &__name {
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: $f-sb;
      }

      &__text {
        font-size: 1.4rem;
        line-height: 1.9rem;

        &_red {
          color: #A7333E;
        }
      }

      &__info-btn {
        margin-top: 0.4rem;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        padding: 0;
        border: none;
        flex: none;

        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center center;
        }
      }
    }
  }

  &-aside {
    width: 38rem;
    min-width: 38rem;

    &-nav {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background-color: #fff;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
    }

    &-item {
      &._active {
        .bank-aside__link {
          color: #A7333E;
          border: 0.05rem solid rgba(204, 204, 204, 1);
          background-color: rgba(231, 236, 238, 1);
          box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15);

          svg {
            fill: #A7333E;
          }

          &::after {
            opacity: 1;
          }
        }
      }

      &:first-child {
        .bank-aside__link {
          border-top-right-radius: 1.5rem;
        }
      }

      &:last-child {
        .bank-aside__link {
          border-bottom-right-radius: 1.5rem;
        }

        &._open {
          .bank-aside__link {
            border-bottom-right-radius: 0;
          }
        }
      }
    }

    &__link {
      display: inline-block;
      padding: 1.5rem 3rem;
      font-size: 1.6rem;
      line-height: 2.1rem;
      font-weight: $f-b;
      color: #000;
      text-decoration: none;
      border: 0.05rem solid transparent;
      background-color: transparent;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: .3s;


      &.bank-aside__link_icon {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          margin-top: -.3rem;
          right: 3rem;
          width: 0.6rem;
          height: 0.6rem;
          display: block;
          border-top: 2px solid $red;
          border-right: 2px solid $red;
          transform: rotate(45deg);
          opacity: 0;
          transition: .3s;
        }
      }

      &:hover {
        color: #A7333E;

        &::after {
          opacity: 0.5;
        }
      }
    }
  }
}

.bank-history-action {
  width: 13rem;
  margin-right: 5rem;
}
.bank-history-create {
  width: 20rem;
}
.bank-history-status {
  width: 16.5rem;
}

.w-20 {
  width: 2rem;
  height: 2rem;
}

.bank-content {
  height: 18.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CCCCCC;
  border-radius: 1.5rem;
}

.content-not-available {
  svg {
    width: 2rem;
    height: 2rem;
    fill: #828282;
  }
}
