<div class="regModal modal opacity-0 hideafterload" id="deleteQuestionModal">
  <form class="modal-block">

    <div class="modal__top">
      <h2 class="lk__subtitle">Подтвердить удаление</h2>
      <button type="reset" class="cross close-button">
        <svg>
          <use href='#crossIcon'></use>
        </svg>
      </button>
    </div>

    <div class="modal__delete">

      <div class="text-18">
        Вы уверены, что хотите удалить следующие вопросы?
      </div>

      <ul class="text-18 mt-40 gap-20">
        <li>1*</li>
        <li>2*</li>
      </ul>

      <div class="text-14 mt-45">* Вопросы, отмеченные знаком «*», уже используются в некоторых тестах. При продолжении эти вопросы не будут удалены, а будут просто скрыты.</div>

    </div>

    <div class="modal__bottom">
      <button type="reset" class="btn-grey close-button">
        Отмена
      </button>
      <button type="submit" class="btn-red">
        Удалить
      </button>
    </div>
  </form>
</div>