<footer class="footer enter">
    <div class="footer__top">
        <div class="footer__logo">
            <img src="assets/images/icons/logo.svg" alt="">
        </div>
        <nav class="footer__nav">
        <ul>
            <li>
                <a href="#" class="footer__nav_item">Программное обеспечение</a>
            </li>
            <li>
                <a href="#" class="footer__nav_item">Специальные предложения</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#" class="footer__nav_item">О компании</a>
            </li>
            <li>
                <a href="#" class="footer__nav_item">Работа в Softline</a>
            </li>
            <li>
                <a href="#" class="footer__nav_item">Контакты</a>
            </li>
            <li>
                <a href="#" class="footer__nav_item">Приемная Softline</a>
            </li>
        </ul>
        </nav>
        <a href="#" class="footer__support">Техподдержка</a>
        <div class="footer__info">
            <p>Работаем с юридическими и физическими лицами. Оплата по счёту или картой</p>
            <a href="mailto:edusales@softline.com">edusales@softline.com</a>
            <a href="tel:8800505 0507">8 800 505 05 07</a>
        </div>
    </div>
    <div class="footer__bottom">
         <p class="footer__policy">© 1993—2022 Softline</p>
         <p class="footer__about">Помимо Москвы, Центр тестирования Softline представлен в следующих городах:&nbsp;<br><br>
            Санкт-Петербург, Екатеринбург, Красноярск, Новосибирск, Хабаровск</p>
         <div>
             <a href="#">Условия использования</a>
             <a href="#">Политика конфиденциальности</a>
         </div>
    </div>
 </footer>