<ul class="lk__nav">
    <li>
        <a href="#" class="lk__nav_item">Сертификация</a>
    </li>
    <li>
        <a href="#" class="lk__nav_item">Настройки</a>
    </li>
    <li>
        <a href="#" class="lk__nav_item">Участники</a>
    </li>
    <li>
        <a href="#" class="lk__nav_item">Оценки</a>
    </li>
    <li>
        <a href="#" class="lk__nav_item active">Отчеты</a>
    </li>
    <li class="nav__trigger">
        <a href="#" class="lk__nav_item">Подробнее</a>
        <ul class="nav__submenu">
          <li>
            <a href="#" class="lk__nav_subitem">Переопределения</a>
          </li>
          <li>
            <a href="#" class="lk__nav_subitem current">
              Локально назначенные роли
            </a>
          </li>
          <li>
            <a href="#" class="lk__nav_subitem">
              Фильтры
            </a>
          </li>
          <li>
            <a href="#" class="lk__nav_subitem">
              Права
            </a>
          </li>
          <li>
            <a href="#" class="lk__nav_subitem">
              Резервное копирование
            </a>
          </li>
          <li>
            <a href="#" class="lk__nav_subitem">
              Восстановить
            </a>
          </li>
        </ul>
    </li>
</ul>