<div class="regModal modal opacity-0 hideafterload" id="tagControl">
  <form class="modal-block">

    <div class="modal__top">
      <h2 class="lk__subtitle">Теги вопроса</h2>
      <button type="reset" class="cross close-button">
        <svg>
          <use href='#crossIcon'></use>
        </svg>
      </button>
    </div>

    <ul class="modal__block">

      <li class="modal__item">
        <div class="text-18">
          Название вопроса
        </div>
        <div class="self-center text-16">
          1
        </div>
      </li>

      <li class="modal__item">
        <div class="text-18">
          Текущая категория
        </div>
        <div class="self-center text-16">
          Тест UGATE001.Х
        </div>
      </li>

      <li class="modal__item">
        <div class="text-18">
          Сертификация
        </div>
        <div class="self-center text-16">
          UGATE001.Х<br>
          Администрирование межсетевых экранов UserGate 6
        </div>
      </li>

      <li class="modal__item">
        <div class="text-18">
          Теги
        </div>
        <div class="self-center text-16">
          Любые теги
          <div class="select mt-20">
            <input class="select-value" type="text" placeholder="Найти:">
            <button class="select-btn" type="button">
              <span class="select-btn__value"></span>
              <span class="select-btn__icon">
                <svg>
                  <use href="#select-arrow"></use>
                </svg>
              </span>
            </button>
            <div class="select-container">
              <button class="select-item" type="button" data-value="1">
                <svg>
                  <use href="#check-icon"></use>
                </svg>
                Найти
              </button>
              <button class="select-item" type="button" data-value="2">
                <svg>
                  <use href="#check-icon"></use>
                </svg>
                Найти 2
              </button>
              <button class="select-item" type="button" data-value="3">
                <svg>
                  <use href="#check-icon"></use>
                </svg>
                Найти 3
              </button>
            </div>
          </div>
        </div>
      </li>

    </ul>

    <div class="modal__bottom">
      <button type="reset" class="btn-grey close-button">
        Отмена
      </button>
      <button type="submit" class="btn-red">
        Сохранить
      </button>
    </div>
  </form>
</div>