<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <img class="img-fixed" src="assets/images/main/bg.jpg" alt="">

    {{> header2 }}
    {{> menu }}
    {{> search }}


    <div class="preloader">
        <img src="assets/images/icons/logo.svg" alt="">
    </div>

    <main id="top">

        {{> body }}

    </main>

    {{> footer }}    
    
    <!-- JS -->
    <script defer src="assets/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script defer src="assets/vendor/scroll-lock/scroll-lock.min.js"></script>
    <script defer src="assets/vendor/swiper/swiper.min.js"></script>
    <script defer src="assets/js/app.js"></script>

</body>
</html>